/*
Here is all the code for page-wide css
*/

body{
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    overflow-x: hidden;
}

.Page{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Page.Info{
    background-color: #dddddd;
}

.Page .Half{
    width: 50%;
    height: 100%;

}

.Page .Right{
    background-color: #cfcfcf;
}

footer{
    height: 30vh;
    background-color: #383838;
    width: 100vw;
}

footer .Half{
    width: 50%;
    height: 100%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15pt;
    color: #f0f0f0;
}